* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(158, 123, 177);
    margin: 100px auto;
    width: 1200px;
    height: 600px;
    border-radius: 50px;
}

#input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.label {
    font-size: larger;
    font-weight: 700;
}

.textBox {
    width: 200px;
    height: 50px;
    font-size: larger;
    border-radius: 20px;
    margin-top: 10px;
    text-align: center;
    font-weight: 500;
}

#btn {
    width: 150px;
    height: 60px;
    border-radius: 30px;
    font-weight: 800;
    font-size: larger;
    color: rgb(184, 161, 94);
    margin-bottom: 100px;
}

#output {
    width: 600px;
    height: 50px;
    font-size: larger;
    border-radius: 20px;
    text-align: center;
}
