<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form API | Formcarry Best Form Backend</title>
  <link rel="shortcut icon" href="images/favicon.webp">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

  <!-- Navbar -->
  <div>
    <img src="images/formcarry_logo.svg" alt="">
    <ul>
      <li>
        <a href="#">Login</a>
      </li>
      <li>
        <a href="#">Sign up</a>
      </li>
    </ul>
  </div>

  <!-- Hero Section -->
  <div>
    <p>form api</p>
    <h1>Receive emails <img src="images/lightning_icon.svg" alt=""> instantly <br>
    from your website <img src="images/formcarry_icon.svg" alt="">  form</h1>
    <p>Never worry about the backend of your form again. Create your HTML form, <br>
    connect to our API, get email notifications, block spam, and use <br>
    over 3000 integrations.</p>

    <ul>
      <li>
        <a href="#">Get started</a>
      </li>
      <li>
        <a href="#payments">learn more</a>
      </li>
    </ul>
  </div>


  <!-- Collabration Integration Section -->
  <div>
    <!-- Collabration -->
    <div>
      <!-- Collabration Content -->
     <div>
       <img src="images/team_icon.webp" alt="">
      <h3>Better, together.</h3>
      <p>Want to share your data with your team? Well you might. <br>
      Fortunately formcarry supports that, invite your clients or <br>
      team members to your form in seconds, then use <br>
      formcarry together.</p>
      <p>Join multiple teams with your account, have control over <br>
      different projects.</p>
     </div>

     <!-- Collabration Background -->
     <div></div>
    </div>

    <!-- Integration -->
    <div>

      <!-- Integration Background -->
      <div></div>

      <!-- Integration content -->
      <div>
        <img src="images/integrations_icon.webp" alt="">
        <h3>Integrations, done.</h3>

        <p>Want to add contacts to your favorite CRM? Maybe <br>
        you want to send your form submissions to your email <br>
        marketing tools? Well that's all possible with formcarry <br>
        and easy to setup too.</p>
        <p>3000+ apps available to integrate, the sky is the limit.</p>
      </div>
    </div>

  </div>


  <!-- Payments -->
  <div>
    <p id="payments">payments through stripe</p>
    <h2>Collect payments
    from your form, easily!</h2>
    <p>Connect your Stripe account to formcarry, and sell your Stripe products with <br>
    minimum effort, you can whether use Stripe Checkout, or your own payment <br>
    form and define actions based on the payment status.</p>
  </div>



  <!-- Footer -->

  <div>
    <p>formcarry. all rights reserved  </p>
    <ul>
      <li>
        <a href="https://www.twitter.com" target="_blank">
          <i class="fa-brands fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com" target="_blank">
        <i class="fa-brands fa-facebook"></i>

        </a>
      </li>
      <li>
      <a href="https://www.github.com" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
      </li>
    </ul>
  </div>


  
</body>
</html>