

/* p{
  color: blue;
  font-size: 30px;
} */


/* p{
  color: green;
} */


/* p{
  color: blue;
} */

/* tagname , element */
/* p{
  color: blue;
  font-size: 30px;
} */



/* #p1{

  color: blue;
} */

/* #p2, #p3{
  color: yellow;
} */


/* .myP{
  color: yellow;
} */



/* #p1{
  color: red;
} */

/* .myP{
  color: green;
} */

/* p{
  color: yellow;
} */


/* 

      Specificity : 
      tagname : 1
      classname : 10 
      id : 100
      inline style : 1000


*/

/* Specificity : 1 + 100 + 10 = 111  */
/* 

    id  class tagname 
    2     2     1

*/
/* p#p1.myP#p2.p3{

} */


/* #p1{
  color: yellow;
} */

/* .test{
  color: red;
}

.myP{
  color: blue;
} */

/* ==================== */


/* p.myP#p1{
  color: green;
} */

/* .myP{
  color: blue;
}

p.myP{
  color: red;
} */

/* .test{
  color: red;
} */

/* ========================= */


/* 
    font-weight :
      bold
      normal


      h1..h6 def weight : bold == 700
      normal text (p) : normal == 400


      100 - 900

      heading : 500 - 900
      normal text : 300 - 400

*/


/* 
    text-decoration 
      Sentence Case 

*/

/* h1{
  font-weight: 400 ;
  text-decoration: underline wavy red;
  font-style: italic;
  text-transform: lowercase;
}


h2{
  font-weight: 700;
  text-decoration: overline dotted blue ;
  text-transform: uppercase;
}

p{
  font-weight: 700;
  text-decoration: line-through double  yellow;
  text-transform: capitalize;
}

a{
  text-decoration: none;

} */


/* ====================== */
/* 
ul{
  list-style:none;
} */


/* ========================= */


/* h1{
  text-align: left ;
}

h2{
  text-align: center;
}

p{
  text-align: right ;
}

a{
  text-align:center ;
} */


/* p{ */
  /* line-height:1.5 ; */
  /* letter-spacing: -1px ; */

  /* font-size: 40px; */
/* } */



/* 
   Scale : 1.2

    51 --> h1
    42 --> h2
    35 --> h3
    29 --> h4
    24 --> h5 
    20 --> h6
    16 --> p
    14 --> span , a, ....
  -------------------------------------

  Serif : Extra details
  sans Serif : Clean
  monospace : same width

*/

/* Google fonts : font face  */

/* p{ */
  /* font-family: Arial, Helvetica, sans-serif */
  /* font-family: ; */
/* } */

/* div{ */
  /* 0-9 a-f */
  /* color: #91913f ; */

  /* 0-255 */
  /* color: rgb( 0, 0,255 ); */

  /* background-color: khaki;

  width: 300px;
  height: 100px; */

  /* padding-top: 50px ;
  padding-right: 100px;
  padding-bottom: 80px;
  padding-left: 100px ; */

  /* padding: 50px ; */
/* 
  border-width: 10px;
  border-style: dotted;
  border-color: red; */

  /* border: 10px dotted red;
  margin:  50px;
} */

/* Total width : content width + padding left + padding right + border left + border rigth */
/* Total height : content height + padding top + padding bottom + border top + border bottom */



/* span{
  background-color: khaki;
  width: 300px;
  height: 200px;

  margin: 100px; */
  /* Overlapping */
  /* padding: 50px;
} */


/* div{
  background-color: lightcoral;
  width: 200px;
  padding: 10px;
  margin: 10px;
  display: inline-block;
} */


/* span{
  display: inline-block;
} */


/* div{
  height: 500px;
  background-color: lightcoral;

  background-image: url(images/sm-bg.webp);
  background-repeat: no-repeat;
  background-position: center right;

  background-size:100% 100% ;
} */

.parent{
  background-color: #ccc;
}

.child{
  background-color: lightcoral;
  width: 100px;
  height: 50px;
  margin: 10px;
  padding: 20px;
  /* display: inline-block; */
}

.first{
  float: left;
}

.second{
  float: right
}

.clearfix{
  clear: both;
}