body{
    background-color: rgba(208, 231, 242, 0.712);
}
#content{
    background-color: rgb(71, 139, 199);
    border-radius: 5%;
    width: 750px;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}

.dot{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: rgb(114, 134, 139);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 30px;
}
.dot:hover{
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
#red{
    background-color: rgb(255, 0, 0);
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.1);
}
#yellow{
    background-color: rgb(255, 255, 0);
    box-shadow: 0 4px 8px rgba(255, 255, 0, 0.1);
}
#green{
    background-color: rgb(0, 255, 0);
    box-shadow: 0 4px 8px rgba(0, 255, 0, 0.1);
}