<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form API | Formcarry Best Form Backend</title>
    <link rel="shortcut icon" href="images/favicon.webp" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- Navbar -->
    <div class="main-nav">
      <img src="images/formcarry_logo.svg" alt="" class="nav-logo" />
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#" class="nav-link btn btn-outline">Login</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link btn btn-bg">Sign up</a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>

    <!-- Hero Section -->
    <div class="hero">
      <p class="hero-subtitle">form api</p>
      <h1 class="hero-title">
        Receive emails <img src="images/lightning_icon.svg" alt="" /> instantly
        <br />
        from your website <img src="images/formcarry_icon.svg" alt="" /> form
      </h1>
      <p class="hero-description">
        Never worry about the backend of your form again. Create your HTML form,
        <br />
        connect to our API, get email notifications, block spam, and use <br />
        over 3000 integrations.
      </p>

      <ul class="hero-list">
        <li class="hero-item">
          <a href="#" class="hero-link btn btn-bg">Get started</a>
        </li>
        <li class="hero-item">
          <a href="#payments" class="hero-link btn btn-outline">learn more</a>
        </li>
      </ul>
    </div>

    <!-- Collabration Integration Section -->
    <div class="features">
      <!-- Collabration -->
      <div class="features-team">
        <!-- Collabration Content -->
        <div class="team-content">
          <img src="images/team_icon.webp" alt="" class="team-icon" />
          <h3 class="team-title">Better, together.</h3>
          <p class="team-text">
            Want to share your data with your team? Well you might. <br />
            Fortunately formcarry supports that, invite your clients or <br />
            team members to your form in seconds, then use <br />
            formcarry together.
          </p>
          <p class="team-text">
            Join multiple teams with your account, have control over <br />
            different projects.
          </p>
        </div>

        <!-- Collabration Background -->
        <div class="team-bg"></div>
        <div class="clearfix"></div>
      </div>

      <!-- Integration -->
      <div class="features-integration">
        <!-- Integration Background -->
        <div class="integration-bg"></div>

        <!-- Integration content -->
        <div class="integration-content">
          <img
            src="images/integrations_icon.webp"
            alt=""
            class="integration-icon"
          />
          <h3 class="integration-title">Integrations, done.</h3>

          <p class="integration-text">
            Want to add contacts to your favorite CRM? Maybe <br />
            you want to send your form submissions to your email <br />
            marketing tools? Well that's all possible with formcarry <br />
            and easy to setup too.
          </p>
          <p class="integration-text">
            3000+ apps available to integrate, the sky is the limit.
          </p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

    <!-- Payments -->
    <div class="payments" id="payments">
      <p class="payments-subtitle">payments through stripe</p>
      <h2 class="payments-title">
        Collect payments <br />
        from your form, easily!
      </h2>
      <p class="payments-description">
        Connect your Stripe account to formcarry, and sell your Stripe products
        with <br />
        minimum effort, you can whether use Stripe Checkout, or your own payment
        <br />
        form and define actions based on the payment status.
      </p>
    </div>

    <!-- Footer -->

    <div class="footer">
      <p class="footer-subtitle">formcarry. all rights reserved</p>
      <ul class="footer-list">
        <li>
          <a href="https://www.twitter.com" target="_blank">
            <i class="fa-brands fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com" target="_blank">
            <i class="fa-brands fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="https://www.github.com" target="_blank">
            <i class="fa-brands fa-github"></i>
          </a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </body>
</html>
