body {
	background-color: #eee;
	font-family: sans-serif;
}

h1 {
	text-align: center;
}

div {
	background-color: #aaa;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 15px;
}

button {
	background-color: #000;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	display: block;
	margin: 0 0 0 auto;
	margin-right: 5px;
}

p {
	background-color: #ccc;
	padding: 10px;
	border-radius: 5px;
}

/* input {
	display: block;
	border: none;
	padding: 5px;
	border-radius: 4px;
} */

.newClass2{
	background-color: royalblue;
}

.extra{
	border: none;
	padding: 10px;
	border-radius: 15px;
}

.google, .linkedin{
	display: block;
	margin: 20px 0px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	padding: 10px;
	border-radius: 5px;
}

#sofa{
	height: 400px;
	width: 400px;
	display: block;
	margin: 0 auto;
}

#input{
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 25px;
	width: 375px;
	padding: 10px;
	border-radius: 10px;
	color: #fff;
	font-size: 20px;
	background-color: rgb(150, 60, 60);	
}

#input:focus{
	outline: none;
}

#input::placeholder{
	color: #fff;
}


.uniqueCLass{
	background-color: rgb(150, 60, 60);
	padding: 10px;
}



.ppp{
	color: green;
	font: 300;
	
}